.questionnaire
  position relative
  top 20vh

  .navigation
    margin-top 40px

.question
  position relative
  height 55vh
  min-height 320px

  display flex
  flex-direction column
  justify-content left

  h2
    position absolute
    left 40px
    bottom 90px
    line-height 65px

  .answers
    position absolute
    bottom 30px
    left 20px
    display flex
    justify-content left

    .answer
      margin-left 20px

      a
        min-width 14vw
