.submission
  position relative
  height 55vh
  min-height 320px
  display flex
  align-items center
  justify-content center

  .btn-large
    width 20vw !important
    height 20vw !important
    font-size 26px
    line-height 20vw
